body{
  background-image: url("https://www.planwallpaper.com/static/images/cool-background.jpg");
}
.mainhead
{
  color:white;
  font-family:Lobster;
  width:300px;

}
.gamearea
{
  background-color:powderblue;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  height:250px;
}
.bs
{
  width:300px;
}
.myp
{
  color:white;
  width:300px;

}
